[submodule "themes/anemone"]
	path = themes/anemone
	url = https://github.com/Speyll/anemone
[submodule "themes/apollo"]
	path = themes/apollo
	url = https://github.com/not-matthias/apollo
[submodule "static/--force"]
	path = static/--force
	url = git@github.com:b-d-e/talks.git
[submodule "static/talks"]
	path = static/talks
	url = git@github.com:b-d-e/talks.git
